.mascotContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.mascotImageWrapper {
  display: flex;
  align-items: flex-end;
}

.speechBubble {
  background-color: white;
  color: #656565;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #52688f;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
  position: relative;
  bottom: 35px;

  max-width: 200px;
  word-wrap: break-word;
  text-align: center;
}

.speechBubblePointer {
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  border-left: none;
}
